body {
  background: url('../img/bluewood.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

header {
  margin: 12px 0 0 0;
}

footer {
  width: 100%;
  position: absolute;
  bottom: 0;
}

.headfoot {
  background-color: white;
  height: 32px;
  padding-top: 4px;
  text-align: center;
  font-family: 'Special Elite', cursive;
  font-size: 20px;
  letter-spacing: 2px;
  text-transform: uppercase;
}

p.lefty {
  float: left;
  padding-left: 8px;
}

p.righty {
  float: right;
  padding-right: 8px;
}

.infomatic {
  padding: 8px 0 0 8px;
  color: white;
}
